spring:
  application:
    name: sleepinghero

  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver

    url: ${DB_URL}
    username: ${DB_USER}
    password: ${DB_PASSWORD}

  mvc:
    pathmatch:
      matching-strategy: ant_path_matcher

springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html
    groups-order: DESC
    operations-sorter: method
    disable-swagger-default-url: true
    display-request-duration: true